.favorite_content-name {
        white-space: nowrap;
        font-size: 18px !important;
        font-weight: 700 !important;
        margin-top: 4px !important;
        margin-bottom: 2px !important;
      }
      .favorite_content-list {
        font-size: 14px;
        font-weight: 500;
        color: var(--white);
        white-space: nowrap;
      }
      .tag {
        display: inline-block;
        font-size: 12px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #ff0101;
        background-color: #fff;
        text-transform: uppercase;
      }
      .avatars-item {
        width: 15px;
        line-height: 0;
      }
      .avatars-item-img {
        border-radius: 999px;
        overflow: hidden;
        height: 20px;
        width: 20px;
        border: 2px solid var(--primary-bg);
      }
      .right-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        padding: 9px 20px;
        background-color: var(--purple-primary);
        border-color: var(--purple-primary);
        color: var(--white);
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid var(--border-primary);
        transition: width 0.2s linear;
        &.is-active {
           background-color: transparent;
           border-color: var(--border-primary);
           color: var(--text-primary);
        }
      }
      .avatars {
        display: flex;
        justify-content: flex-start;
      }
      .left-title {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 4px;
        color: var(--text-primary);
      }
      .text-item {
        font-size: 14px;
        margin-left: 8px;
        color: var(--text-secondary);
      }