.m-6 {
      margin: unset;
   }
   .genre-select {
      color: var(--white);
      .zm-btn.active {
         border-color: var(--purple-primary);
         background-color: var(--purple-primary);
         color: var(--white);
      }
      .zm-btn {
         padding: 4px 24px;
         border: 1px solid var(--border-primary);
         border-radius: 100px;
         font-weight: 400;
         font-size: 12px;
         text-transform: uppercase;
         margin-right: 15px;
      }
   }